/* General Styles */
.backendfolio {
  padding: 50px;
  background-color: #f1faee;
  width: 100%;
}

.clipath {
  background: linear-gradient(
    135deg,
    rgba(167, 170, 255, 0.64),
    rgba(219, 153, 191, 0.489)
  );
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  position: relative;
  bottom: 40px;
  box-shadow: 1px 1px 20px 5px #00000008;

  display: flex;
  align-items: center;
  justify-content: center;
}

.backendfolio .title {
  text-align: left;
  font-size: 1.5rem;
  color: #000;
  margin-bottom: 10px;
}

.backendfolio .subtitle {
  text-align: left;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 40px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-items: center;
}

/* Project Card */
.projectCard {
  background: linear-gradient(
    135deg,
    rgba(167, 170, 255, 0.64),
    rgba(219, 153, 191, 0.489)
  );
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 100%;
  margin: 10px;
  text-align: center;
}

.projectTitle {
  font-weight: bold;
  color: #333;
  font-size: 1rem;
  text-align: left;
}

.projectDescription {
  color: #1c0505;
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.techItem {
  background: linear-gradient(
    135deg,
    rgba(78, 82, 186, 0.64),
    rgba(195, 65, 141, 0.773)
  );
  color: #000;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.projectLink {
  background: linear-gradient(
    135deg,
    rgba(115, 105, 205, 0.963),
    rgb(99, 255, 237)
  );
  color: #fff;
  padding: 10px 30px;
  display: flex;
  justify-self: left;
  text-decoration: none;
  border-radius: 500px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s ease;
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(115, 105, 205, 0.963),
      rgb(99, 255, 237)
    );
  }
}

@media (max-width: 786px) {
  .clipath {
  }

  .backendfolio .title {
    text-align: left;

    color: #333;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .clipath {
  }

  .backendfolio .title {
    text-align: left;
    font-size: 5px;
    color: #ffffff;
    margin-bottom: 10px;
  }
}
