.contactFormSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 60px 20px;

  backdrop-filter: blur(12px);
}

.boxinternal {
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  animation: fadeIn 1s ease forwards;
}

.textheading {
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
  animation: fadeInUp 1s ease forwards;
}

.heading {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.gradientText {
  background: linear-gradient(90deg, #ffd700, #ff63a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  font-size: 1rem;
  color: #e0e0e0;
}

.formContainer {
  max-width: 600px;
  width: 100%;

  backdrop-filter: blur(15px);
  padding: 40px 30px;
  border-radius: 25px;

  transition: all 0.5s ease;
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 35px;
  position: relative;
}

.label,
.labeltextarea {
  position: absolute;
  top: -25px;
  left: 20px;

  padding: 0 8px;
  color: #fff;
  font-size: 0.85rem;
  transition: all 0.3s ease;
}

.input,
.textarea {
  width: 100%;
  padding: 18px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.input:focus,
.textarea:focus {
  border-color: #63ffed;
  box-shadow: 0 0 15px rgba(99, 255, 237, 0.6);
  outline: none;
  transform: scale(1.02);
}

.textarea {
  resize: none;
}

.submitButton {
  margin-top: 20px;
  padding: 15px;
  border-radius: 50px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(90deg, #ffd700, #ff63a6);
  cursor: pointer;
  transition: all 0.4s ease;
}

.submitButton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(115, 105, 205, 0.6);
  background: linear-gradient(135deg, #4e50c9, #31a08a);
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Responsive */
@media(max-width:768px) {
  .formContainer {
    padding: 30px 20px;
  }

  .heading {
    font-size: 1.8rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }

  .input,
  .textarea {
    font-size: 0.9rem;
  }

  .submitButton {
    font-size: 0.9rem;
  }
}