/* Contact Form Section */
.contactFormSection {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;
}
.boxinternal {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}
.textheading {
  width: 100%;
  font-weight: bold;
  text-align: left;
  padding: 40px;
}
.image_giff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter {
  width: 100%;
  height: auto;
}
/* Form Container */
.formContainer {
  max-width: 600px;
  width: 100%;
  /* background: #fff; */
  padding: 30px;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #000000;
}

.paragraph {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #555;
}

/* Contact Form */
.contactForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 20px;
  text-align: left;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: #333;
  background-color: #f1faee;
  width: 17%;
  position: relative;
  top: 15px;
  text-align: center;
  left: 10px;
}
.labeltextarea {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  color: #333;
  background-color: #f1faee;
  width: 25%;
  position: relative;
  top: 15px;
  text-align: center;
  left: 10px;
}

.input,
.textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

.input:focus,
.textarea:focus {
  border-color: #0070f3;
  outline: none;
}

.textarea {
  resize: none;
}

/* Submit Button */
.submitButton {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #3b3535;
}

/* Responsive Design */
@media (max-width: 768px) {
  .boxinternal {
    flex-direction: column;
  }
  .heading {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: 0.9rem;
  }

  .input,
  .textarea {
    font-size: 0.9rem;
  }

  .submitButton {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .labeltextarea {
    width: 35%;
  }
  .label {
    width: 30%;
  }
  .boxinternal {
    flex-direction: column;
  }
  .formContainer {
    padding: 20px;
  }

  .heading {
    font-size: 1.2rem;
  }

  .paragraph {
    font-size: 0.8rem;
  }

  .input,
  .textarea {
    font-size: 0.8rem;
  }

  .submitButton {
    font-size: 0.8rem;
  }
}

@media (max-width: 430px) {
  .label {
    width: 30%;
  }
}
