/* Global Styles for the Hero Section */
.heroSection {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 100vh; */
  background-color: #f1faee;
  color: #fff;
  padding: 40px 20px;
  margin-top: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.ImageSection {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.ImageSection h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgb(91, 51, 160);
  font-weight: bold;
}

.heroimage {
  display: flex;
  width: 30%;
  padding: 10px;
}
.heroSectionimage {
  width: 90%;
  height: 90%;
  cursor: pointer;
}
.heroContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: left;
  /* max-width: 800px; */
  padding: 20px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #ffc107; /* Golden border */
  margin-bottom: 20px;
}

.heroContent h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
}

.heroContent p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
  margin-bottom: 30px;
  color: black;
}
.socialLinks {
  display: flex;
  flex-direction: row;
}
.socialLinks a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;

  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.icon {
  border-radius: 100%;
  /* width: 10px;
  height: 10px; */
}

.socialLinks a:hover {
  color: #ffc107; /* Golden color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .heroimage {
    display: none;
  }
  .heroContainer {
    width: 100%;
  }
  .heroContent h1 {
    font-size: 1.8rem;
  }

  .heroContent p {
    font-size: 1rem;
    font-weight: 400;
  }

  .profileImage {
    width: 30%;
    height: 30%;
  }

  .ImageSection h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: rgb(91, 51, 160);
    font-weight: bold;
  }

  .socialLinks a {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .heroContent h1 {
    font-size: 1rem;
  }

  .heroContent p {
    font-size: 0.9rem;
  }
}

.Download {
  background: linear-gradient(
    135deg,
    rgba(115, 105, 205, 0.963),
    rgb(99, 255, 237)
  );
  padding: 15px 40px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 1000px;
  border: none;
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(66, 56, 159, 0.963),
      rgb(31, 152, 138)
    );
  }
}
