.heroSection {
  position: relative;
  overflow: hidden;
  display: flex;

  justify-content: center;

  color: #fff;
  padding: 150px 20px 100px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.RowCollum {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.heroContainer {
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.ImageSection {
  display: flex;

  align-items: center;

  gap: 20px;
}

.profileWrapper {
  animation: radialWave 1.5s ease forwards;
}

@keyframes radialWave {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.profileImage {
  border-radius: 50%;
  border: 3px solid #ffc106;
}

.heroTitle {
  font-size: 2.5rem;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #068798, #02cce7, #068798);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4c007a;
  font-weight: bold;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards 0.5s;
}

.heroContent {
  max-width: 600px;
}

.mainHeading {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards 0.7s;
}

.heroText {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards 0.9s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.heroimage {
  width: 50%;
  animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.Download {
  background: linear-gradient(90deg, #ffd700, #ff63a6);
  padding: 15px 40px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease;
  font-size: larger;
}

.Download:hover {
  background: linear-gradient(90deg, #b79d0b, #b52865);
  transform: translateY(-2px);
  color: #000;
}

/* Responsive */
@media (max-width: 768px) {

  .ImageSection {
    flex-direction: column;
  }

  .heroContainer {
    flex-direction: column;
    text-align: center;
  }

  .heroimage {
    display: none;
  }

  .mainHeading {
    font-size: 1.8rem;
  }
}