.portfolioSection {
  padding: 50px;
  background-color: #f1faee;
  text-align: center;
}

.title {
  text-align: left;

  font-size: 1.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 40px;
}

.projectGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.projectCard {
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  height: auto;
  background: linear-gradient(
    135deg,
    rgba(167, 170, 255, 0.64),
    rgba(219, 153, 191, 0.489)
  );
  border: 4px solid #b7c7de;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.144);
  transition: transform 0.3s ease;
}

.projectCard:hover {
  transform: scale(1.05);
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: inherit;
}

.projectInfo {
  text-align: left;
  height: 220px;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-end;
}

.description {
  text-align: left;
  color: #1d3557;
  font-size: 100%;
  font-size: 15px;
}

.projectInfo h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #4e63c9;
}

.projectInfo a {
  color: #fff;
  text-decoration: none;
  display: flex;
  text-align: center;
  font-weight: bold;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(115, 105, 205, 0.963),
    rgb(99, 255, 237)
  );
  padding: 10px 30px;
  margin: 20px 0;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  &:hover {
    background: linear-gradient(
      135deg,
      rgba(115, 105, 205, 0.963),
      rgb(99, 255, 237)
    );
  }
}
