.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.scrollToTop:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.scrollToTop img {
  width: 30px;
  height: 30px;
  filter: invert(1);
}
