:root {
  --background: #f1faee;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #fff, #fff); /* Track background */
  border-radius: 10px; /* Rounded edges */
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #457b9d,
    #457b9d
  ); /* Thumb with gradient */
  border-radius: 6px; /* Rounded edges */
  border: 0px solid #292929; /* Add border for a 3D effect */
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #ff9c00, #e91e63); /* Hover effect */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Glow on hover */
}

body::-webkit-scrollbar-thumb:active {
  background: linear-gradient(45deg, #ff4d4d, #f9b30c); /* Active state */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Stronger glow when active */
}

body::-webkit-scrollbar-corner {
  background: #665656; /* Corner when both vertical and horizontal scrollbars are visible */
}
